$colors:(
    color-primary:(
        100:red,
        200:yellow,
        300:green,
        400:red,
        500:red,
    ),
    bg-primary:(
        100:red,
        200:yellow,
        300:green,
        400:red,
        500:red,
    )
)